body
{
    background: #6a7381;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}

.navbar-custom
{
    background-color: #515863;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text
{
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link
{
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link 
{
    color: #ffffff;
}

h1, h3, h5
{
    text-align: center;
}

.carRenderDivParent
{
    height: 450vh;
}

.carVideoTag
{
    border-radius: 10px;
    width: 100%;
    left: -1%;
    top: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carRenderDiv
{
    text-align: center;
    position: sticky;
    width: 80%;
    padding-top: 5.625%;
    margin-left: 10%;
    top: 10%;
    justify-content: center;
}

.renderImgTag
{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: -1%;
    top: 0;
    -webkit-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickableCarImageRow
{
    top: 50px;
    margin-top: 50px;
    justify-content: center;
}

.clickableCarImageOuterDiv
{
    margin-top: 20px;
    position: sticky;
}

.card
{
    width: 400px;
    position: sticky;
    margin: 6%;
    margin-top: 6%;
    padding: 0.25%;

    border-radius: 2px;
    background: #6a7381;
    box-shadow:  5px 5px 15px #5a626e,
                -5px -5px 15px #7a8494;
}

.changeBorderColour
{
    width: 400px;
    position: sticky;
    margin: 6%;
    margin-top: 6%;
    background-color: black;
    padding: 3%;
    border-radius: 10px;
    border: 2px solid red;
}

a
{
    cursor: -webkit-grab; 
    cursor: grab;
}

.carDetailsDiv
{
    justify-content: center;
    text-align: right;
    margin-top: 5%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5%;
}

.table, .carDetailsTable th, .carDetailsTable td
{
    background-color: black;
    border: none;
}

th
{
    text-align: left;
}

td
{
    text-align: right;
}

.carDescriptionDiv
{
    justify-content: center;
    margin-top: 5%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5%;
    text-align: justify;
}

.noDetailsFoundDiv
{
    justify-content: center;
    margin-top: 40vh;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5%;
    text-align: justify;
}